.App {
  text-align: center;
}

.input-placeholder::placeholder {
  color: #FDFFE2;
  opacity: 1; 
}

html, body, #root {
  height: 100%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -10px;
  left: 0;
  background-color: #1A2130;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  margin-left: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #5A72A0;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #FDFFE2;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1A2130;
}